{
  "openapi": "3.0.1",
  "info": {
    "title": "Dastra API",
    "description": "Dastra's public REST API",
    "contact": {
      "name": "Dastra Team",
      "url": "https://www.dastra.eu",
      "email": "contact@dastra.eu"
    },
    "license": {
      "name": "MIT",
      "url": "https://example.com/license"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.dastra.eu",
      "description": "API Path"
    }
  ],
  "paths": {
    "/v1/ws/{workspaceId}/Actors": {
      "get": {
        "tags": [
          "Actors"
        ],
        "summary": "Get all actors (User inserted in the record of processing activities)",
        "operationId": "Actors_List",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "includeScore",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "countries",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "referencedAs",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ActorReferencedAs"
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ActorType"
              }
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma separated list of fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorDtoPagedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Actors"
        ],
        "summary": "Create a new actor",
        "operationId": "Actors_Create",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Actors"
        ],
        "operationId": "Actors_DeleteBatch",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Actors"
        ],
        "summary": "Batch delete using a delete + a body param",
        "operationId": "Actors_BatchPatch",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Int32ActorDtoBatchPatchDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Int32ActorDtoBatchPatchDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Int32ActorDtoBatchPatchDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Int32ActorDtoBatchPatchDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Actors/columns": {
      "get": {
        "tags": [
          "Actors"
        ],
        "operationId": "Actors_Columns",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Actors/{id}": {
      "get": {
        "tags": [
          "Actors"
        ],
        "summary": "Get a single actor with his id",
        "operationId": "Actors_Find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Fields to select, leave empty you will catch all the fields (Tags,Attachments,Creator",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Actors"
        ],
        "summary": "Edit the actor's properties",
        "operationId": "Actors_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Actors"
        ],
        "summary": "Remove the actor with his id",
        "operationId": "Actors_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Actors"
        ],
        "operationId": "Actors_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Actors/dpa/{actorId}/{dataProcessingId}/{format}": {
      "post": {
        "tags": [
          "Actors"
        ],
        "summary": "Export the actors as a dpa",
        "operationId": "Actors_DPA",
        "parameters": [
          {
            "name": "dataProcessingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "actorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExportFormat"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Actors/export/{format}": {
      "post": {
        "tags": [
          "Actors"
        ],
        "summary": "Export the actors in any format",
        "operationId": "Actors_Export",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExportFormat"
            }
          },
          {
            "name": "template",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/TemplateExportActor"
            }
          },
          {
            "name": "useNativeColumn",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "cols",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorQuery"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActorQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Actors/query": {
      "get": {
        "tags": [
          "Actors"
        ],
        "operationId": "Actors_DynamicQuery",
        "parameters": [
          {
            "name": "Q",
            "in": "query",
            "description": "Full text search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaId",
            "in": "query",
            "description": "Area Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Size of the recordset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectListItemResourcePagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/{id}": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Get area by id",
        "operationId": "Areas_Find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Areas"
        ],
        "summary": "Edit the area's details",
        "operationId": "Areas_Update",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Areas"
        ],
        "summary": "Delete area by id",
        "operationId": "Areas_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/columns": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "List columns",
        "operationId": "Areas_Columns",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Get all areas related to the workspace (Flatten)\r\n<returns></returns>",
        "operationId": "Areas_List",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by type",
            "schema": {
              "$ref": "#/components/schemas/AreaType"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "Your internal reference filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Full text search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent identifier to get all child of a specific organizational unit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma separated list of fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDtoPagedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Areas"
        ],
        "summary": "Post a new area",
        "operationId": "Areas_Create",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AreaBaseDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/hierarchy": {
      "get": {
        "tags": [
          "Areas"
        ],
        "summary": "Fetch the full organizational unit hierarchy",
        "operationId": "Areas_Hierarchy",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AreaHierarchyDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/sort": {
      "post": {
        "tags": [
          "Areas"
        ],
        "operationId": "Areas_SortOrder",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Int32SortQueryDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Int32SortQueryDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Int32SortQueryDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Int32SortQueryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/{id}/teams": {
      "get": {
        "tags": [
          "Areas"
        ],
        "operationId": "Areas_Teams",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "tags": [
          "Areas"
        ],
        "summary": "Edit areas's teams by id",
        "operationId": "Areas_TeamsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/import": {
      "post": {
        "tags": [
          "Areas"
        ],
        "operationId": "Areas_AreasImport",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ContentType": {
                    "type": "string"
                  },
                  "ContentDisposition": {
                    "type": "string"
                  },
                  "Headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "Length": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "Name": {
                    "type": "string"
                  },
                  "FileName": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "ContentType": {
                  "style": "form"
                },
                "ContentDisposition": {
                  "style": "form"
                },
                "Headers": {
                  "style": "form"
                },
                "Length": {
                  "style": "form"
                },
                "Name": {
                  "style": "form"
                },
                "FileName": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AreaImportModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Areas/query": {
      "get": {
        "tags": [
          "Areas"
        ],
        "operationId": "Areas_DynamicQuery",
        "parameters": [
          {
            "name": "Q",
            "in": "query",
            "description": "Full text search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaId",
            "in": "query",
            "description": "Area Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Size of the recordset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectListItemResourcePagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get all linked assets",
        "operationId": "Assets_List",
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AssetType"
              }
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma separated list of fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDtoPagedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create a new application",
        "operationId": "Assets_Create",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "operationId": "Assets_DeleteBatch",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Assets/columns": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get all columns of an asset",
        "operationId": "Assets_Columns",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get an asset with his id",
        "operationId": "Assets_Find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Edit an application",
        "operationId": "Assets_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AssetDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete an application",
        "operationId": "Assets_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "tags": [
          "Assets"
        ],
        "operationId": "Assets_Patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/Assets/query": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "Assets_DynamicQuery",
        "parameters": [
          {
            "name": "Q",
            "in": "query",
            "description": "Full text search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaId",
            "in": "query",
            "description": "Area Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Size of the recordset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectListItemResourcePagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_List",
        "parameters": [
          {
            "name": "areaId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "states",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditResponseState"
              }
            }
          },
          {
            "name": "templateIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "minReadiness",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxReadiness",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "NeedRenew",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuditObjectType"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "respondantIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ownerIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuditQueryType"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeGraphs",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTasks",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma separated list of fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseLightDtoPagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/columns": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Columns",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataTableColumn"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/{id}": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "filterRespondantQuestions",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_DeleteAuditResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/export/{format}": {
      "post": {
        "tags": [
          "AuditResponses"
        ],
        "summary": "Export the records in any format",
        "operationId": "AuditResponses_Export",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExportFormat"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseQuery"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/refuse/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "summary": "Refuse audit response",
        "operationId": "AuditResponses_Refuse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/validate/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Validate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/update/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseUpdateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseUpdateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseUpdateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/finalize/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Finalize",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseChangeStateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/renew": {
      "post": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_Renew",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseRenewDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseRenewDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseRenewDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseRenewDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/action-plan-generation/{id}": {
      "post": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_GenerateActionPlan",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateActionPlanDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateActionPlanDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateActionPlanDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateActionPlanDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/invite/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "summary": "Send the audit invitation",
        "operationId": "AuditResponses_InviteToAuditResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseInvitationDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseInvitationDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseInvitationDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseInvitationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/planification": {
      "post": {
        "tags": [
          "AuditResponses"
        ],
        "summary": "Planification post",
        "operationId": "AuditResponses_CreatePlanification",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponsePlanificationDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/planification/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_UpdatePlanification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponsePlanificationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponsePlanificationDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/cancel/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "summary": "Cancel an audit\r\nNot used, use refuse/{id} instead",
        "operationId": "AuditResponses_CancelAuditResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/archive/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_ArchiveAuditResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/restore/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_RestoreAuditResponse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/matrix/{templateId}": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_GetMatrixAudit",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "areaId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "states",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditResponseState"
              }
            }
          },
          {
            "name": "templateIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "minReadiness",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxReadiness",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "NeedRenew",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuditObjectType"
            }
          },
          {
            "name": "objectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "respondantIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ownerIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuditQueryType"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeGraphs",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeTasks",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Comma separated list of fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rowLevel",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/RowLevel"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditMatrixDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/set-risk/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_UpdateRisk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRiskLevel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRiskLevel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRiskLevel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRiskLevel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/set-state/{id}": {
      "put": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_UpdateState",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseStatePayload"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseStatePayload"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseStatePayload"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditResponseStatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/stats": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_GetStats",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "areas",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditResponseDtoPagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditResponses/query": {
      "get": {
        "tags": [
          "AuditResponses"
        ],
        "operationId": "AuditResponses_DynamicQuery",
        "parameters": [
          {
            "name": "Q",
            "in": "query",
            "description": "Full text search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AreaId",
            "in": "query",
            "description": "Area Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Size",
            "in": "query",
            "description": "Size of the recordset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "Filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filters",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectListItemResourcePagedList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditTemplates": {
      "get": {
        "tags": [
          "AuditTemplates"
        ],
        "summary": "Search for an audit template (paginated list)",
        "operationId": "AuditTemplates_List",
        "parameters": [
          {
            "name": "includeRevisions",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ObjectType",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AuditObjectType"
            }
          },
          {
            "name": "Types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AuditTemplateType"
              }
            }
          },
          {
            "name": "Q",
            "in": "query",
            "description": "Full text query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination index (1 based, page 1 = 1, page 2 = 2...)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the result page (default: 20, max 500)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field to sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "True to sort ascending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A serialized as json filter string using the JsonRuleEngine.net format\r\nhttps://github.com/antoinebidault/JsonRuleEngine.Net\r\nThe filters is a query param, that's why he must be properly serialized as a json string and url encoded\r\ne.g. {\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}\r\nThe field prop must match one property name of the object (present in the output results)\r\nThe operator can be equal,\r\nnotEqual,\r\nlessThan,\r\nlessThanInclusive,\r\ngreaterThan,\r\ngreaterThanInclusive,\r\nin,\r\nnotIn,\r\ncontains,\r\ndoesNotContains,\r\nisNull,\r\nisNotNull,\r\nisEmpty\r\nYou can combine the filters as following : \r\n{ \"separator\":\"Or\",\"rules\": [{\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"},{\"field\":\"ProcessingType\", \"operator\":\"isNull\"}]}\r\nSerialize the filter param as following:\r\n?filters=${uriEncodeComponent(JSON.stringify({\"field\":\"ProcessingType\", \"operator\":\"notEqual\", \"value\": \"Done\"}))}",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTemplateLightDtoPagedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AuditTemplates"
        ],
        "operationId": "AuditTemplates_Create",
        "parameters": [
          {
            "name": "isContribution",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditTemplateDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditTemplateDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditTemplateDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditTemplateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditTemplateDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ws/{workspaceId}/AuditTemplates/columns": {
      "get": {
        "tags": [
          "AuditTemplates"
        ],
        "operationId": "AuditTemplates_Columns",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
[...]
